.main {
  width: 100%;
  height: calc(100vh - 100px);
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 3vw;
  background-image: url('./../../public/worldImg.png');

  .serviceText {
    font-size: 4vw;
    width: 50vw;
    margin: auto;
    text-align: center;

    span {
      color: #38D9BA;
    }

    @media (max-width:610px) {
      width: 60vw;
    }

    @media (max-width:510px) {
      width: 70vw;
    }

    @media (max-width:420px) {
      width: 80vw;
    }
  }

  .services {
    display: flex;
    flex-direction: column;
    gap: 1vw;
    width: 40vw;
    height: 55vh;
    margin: 0 auto 20px auto;
    background-color: #121315;
    padding: 1vw;
    border-radius: 19px;
  

    @media (max-width:750px) {
      width: 90vw;
    }



    .search {
      display: flex;
      gap: 1vw;
      padding: 15px 24px;
      background-color: #18191C;
      border-radius: 19px;

      input {
        border: none;
        outline: none;
        background-color: transparent;
        color: white;
        width: 100%;
      }
    }

    .allServices {
      display: flex;
      flex-direction: column;
      gap: 3px;
      overflow-y: scroll;

      &::-webkit-scrollbar {
        display: none;
      }

      .singleService {
        display: flex;
        justify-content: space-between;
        background-color: #282828;
        padding: 12px 26px;
        border-radius: 19px 19px 2px 2px;
        text-decoration: none;
        color: white;
      }
    }


  }

}






/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {
  .grid {
    grid-template-columns: repeat(2, 50%);
  }
}

@media (prefers-color-scheme: dark) {
  .vercelLogo {
    filter: invert(1);
  }

  .logo {
    filter: invert(1) drop-shadow(0 0 0.3rem #ffffff70);
  }
}

@keyframes rotate {
  from {
    transform: rotate(360deg);
  }

  to {
    transform: rotate(0deg);
  }
}